* { margin: 0; padding: 0; box-sizing: border-box; }


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
}


.hidden { display: none !important; }

/* Header */
.header {
  position: fixed;
  top: 0; left: 0; right: 0;
  background: rgba(255,255,255,0.9);
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 100;
}

/* Main container */
.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 6rem 1rem 1rem;
}

/* Card */
.card {
  background: rgba(255,255,255,0.95);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 400px;
  width: 100%;
}

/* Juego card */
#contenedor.card { max-width: 500px; }

/* Títulos */
h1, h2 {
  color: #2c3e50;
  margin-bottom: 1rem;
}
p{
  text-align: center;
}

/* Input */
input[type="text"] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 0.5rem;
}

/* Botones generales */
button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  background-color: #e2dbbc ;
  color: #fff;
}

button:hover {
  background-color: #2980b9;
}

/* Opciones de respuesta */
#opciones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0;
}

#opciones button {
  width: 100%;
}

/* Imagen */
#imagen {
  max-width: 50%;
  margin: 1rem auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Resultado */
#resultado {
  font-weight: bold;
  margin: 1rem 0;
  font-size: 1.1rem;
}

/* Siguiente */
#siguiente {
  background-color: #d4c79d !important;
  padding: 10px 20px !important;       
  font-size: 16px !important;          
  border: none !important;             
  cursor: pointer !important;         
  display: inline-block !important;    
  margin-top: 20px !important;  
}
#siguiente:hover {
  background-color: #bfae7f;
}

/* Pregunta */
.pregunta-estilo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4CAF50;
  text-align: center;
  margin-bottom: 1rem;
}

/* Tabla ranking */
#ranking-container table {
  width: 100%;
  border-collapse: collapse;
}

#ranking-container th,
#ranking-container td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center;
}

#ranking-container th {
  background: #f0f0f0;
}